#receipt_total {
	background: #A6CB7A;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 20px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: .75em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
}

.client_details,
.receipt_details {
	padding: 0;
	margin: .5em 0 0;
	
	list-style: none;
}

.client_details li,
.receipt_details li {
	margin-bottom: .75em;
}

#receipt_actions { padding: 0; margin-top: 2em; margin-left: 0; }
#receipt_actions li { list-style-type: none; margin-bottom: 1.25em; }
#receipt_actions li a
{
	padding-left: 30px;
	
	font-size: 13px;
}

#receipt_actions .send { background: url(../../img/silk/email.png) no-repeat 0 center; }
#receipt_actions .edit { background: url(../../img/silk/pencil.png) no-repeat 0 center; }
#receipt_actions .print { background: url(../../img/silk/printer.png) no-repeat 0 center; }
#receipt_actions .duplicate { background: url(../../img/silk/page_white_copy.png) no-repeat 0 center; }
#receipt_actions .delete { background: url(../../img/silk/cross.png) no-repeat 0 center; }
#receipt_actions .change { background: url(../../img/silk/page_white_go.png) no-repeat 0 center; }